footer{
	width: 100%;
	padding:20px 0 20px 0;
}
footer p {
	margin:0;
}
.member {
    padding:10px 0;
}
.box-style {
	border-radius:0;
}
.box-page {
	padding:2rem;
	border-radius: 0;
	margin:0;
}
.content {
	color:white;
	margin-top:10px;
}
.panel-profil .nav-link.disabled{
	padding-left: 0;
}
.error-panel {
	margin:10% 0;
}
.btn-ico {
	padding-right: 10px;
	border-right: solid 1px;
	margin-right: 5px;
}
.foto-circle{
	padding:0.3rem 0.8rem 0.3rem 0rem;
}
.sidebar-left {
	padding: 2em 1em;
	border-style: solid;
	border-color: #efefef;
	border-width: 0 1px;
}
.nav-blog{
	margin: 0;
	border-radius: 0;
}
.content-page {
	padding: 2em 1em;
	border-style: solid;
	border-color: #efefef;
	border-width: 0 1px 0 0;
}
.panel-sidebar {
	display:none;
}
.sidebar-list {
	list-style: none;
	margin: 0;
	padding: 0;
	font-weight: 500;
}
.sidebar-list li{
	list-style:none;
	font-size:18px;
	margin:0;
	padding:0;
}
.sidebar-list li ul{
	list-style:none;
	margin:0;
	padding:0;
}
.sidebar-list li ul li{
	font-size:16px;
}
.tab-window {
	border-left:1px solid #e9ecef!important;
	border-right:1px solid #e9ecef!important;
	border-bottom:1px solid #e9ecef!important;
	padding:1em;
}
.blog-page .blog-header{
	margin:5px 0;
	padding-bottom:25px;
	border-bottom:1px solid #efefef;
}
.blog-page img{
	max-width:100% !important;
	height:auto !important;
}
.article-box{
	display: inline-block;
	margin: 15px 0;
}
.article-box .content {
    margin: 15px;
    max-height: 200px;
    overflow: hidden;
}
.article-box .article-header {
	font-size:0.8em;
}
.article-box .thumbnail img{
	width:100%;
	height: auto;
}
.cover-article{
	height: 400px;
	overflow: hidden;
}
.cover-article img{
	width: 100%;
	height: auto;
	z-index: 0;
}

.info-article {
	position: relative;
	top: -60px;
	margin-bottom: -50px;
}
.info-article .head{
	background: #efefef;
	padding: 1em;
}
.sidebar-collapse {
	display: none;
}
@media screen and (max-width : 768px){
	.info-article {
		background:#efefef;
		top:0;
		margin-bottom:0;
	}
	.cover-article{
		height: auto;
	}
	.content-page {
		border-width: 0 1px 0 1px;
	}
	.sidebar-left {
		margin-bottom:10px 0;
		border-bottom:1px solid #efefef;
	}
	.panel-sidebar {
		border-bottom: 1px solid #efefef;
		margin-bottom: 10px;
		display:block;
	}
	.sidebar-collapse {
		display: block;
		text-align: center;
		width:100%;
		height: auto;
	}
	.sidebar-collapse a {
		color: #fff;
		background: #1c8686;
		padding: 0px 10px 5px 10px;
		font-size: 1.8em;
	}
	.frontend #sidebar {
		padding-top:10px;
		background :#1c8686;
	}
}